[Unit]
Description=RFC 1413 compliant Ident daemon
Documentation=man:oidentd(8) man:oidentd.conf(5) man:oidentd_masq.conf(5)
After=network.target

[Service]
ExecStart=/usr/sbin/oidentd
ExecReload=/bin/kill -HUP $MAINPID
PrivateDevices=true
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
